<img src="/assets/home_img.jpg" class="bg" alt="">
<div class="container-fluid text-center text-dark home-container-fluid ">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">This is  a jumbotron created using the bootstrap 5</p>
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-success" href="#" role="button">Sign up!</a>
</div>