<footer class="footer py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Kartikay Kala", "http://www.kartikay-kala.com", class: "text-white" %>
    </div>
</footer>